<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <% if (message != null) { %>
          <div class="alert-danger"><%= message %></div>
        <% } %>

        <form action="/signup" method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
          <div>
            <input type="submit" class="form-control" value="Submit" />
          </div>
        </form>
      </div>
      <hr>
      <span class="fa fa-sign-in"> Already have an account?<a href="/login"> Login</a></span>
      <p>Or go <a href="/">home</a>.</p>
    </div>
  </body>
</html>
